html {
  scroll-behavior: smooth;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  box-shadow: $custom-shadow;
  z-index: 10;
  background-color: $white;
}

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  gap: 60px;

  &__link {
    color: $custom-black;
    font-size: 12px;
    padding: 5px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    position: relative;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: border-top $main-transition, border-bottom $main-transition;

    &:hover,
    &:focus {
      border-top: 3px solid $hover-color;
      border-bottom: 3px solid $hover-color;
    }
  }
}
