$custom-black: #333333;
$black: #000000;
$white: #ffffff;
$pale-gray: #bdbdbd;
$blend-gray: #fbfbfb;
$arrow-background: #f9f9f9;
$middle-gray: #f2f2f2;
$contact-form-background: #f3f3f3;
$hover-color: #2196f3;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$custom-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
