<section class="container">
   <div class="about">
   <div class="about__image">
      <div class="about__image--right">
         <img src="./assets/images/img1.jpeg" width="270px" height="265px" alt="">
         <img src="./assets/images/img2.jpeg" width="270px" height="140px" alt="" class="right">
      </div>
      <div class="about__image--left">
         <img src="./assets/images/img3.jpeg" width="270px" height="345px" alt="">
      </div>
   </div>  
   <div class="about__title">
      <h2 class="about__title--main">Про нас</h2>
      <p class="about__title--text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <button class="about__btn">
         <span>Читати</span>
        <svg width="17" height="8">
          <use href="./assets/icons/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
   </div>
   </div>
</section>