<section class="container feature">
   <h3 class="feature__title">Основні завдання</h3>
   <div class="feature__block">
      <div class="feature__block--container">
         <span class="feature__block--number">1</span>
      <p class="feature__block--text">Створення комфортних умов та підвищення якості обслуговування клієнтів</p>
      </div>
      <div class="feature__block--container">
         <span class="feature__block--number">2</span>
      <p class="feature__block--text">Постійно вдосконалювати якість послуг шляхом навчання персоналу, закупівлі нового обладнання та посиленої реклами на ринку</p>
      </div>    
   </div>          
</section>